h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

.headers {
  margin-bottom: 50px;
}

.results {
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.string {
  font-weight: bold;
}
